//
// Menu
//

// Aside menu
.aside-menu {
    .menu {
        // Link padding x
        @include menu-link-padding-x(get($aside-config, padding-x));

        // Menu indention
        @include menu-link-indention(get($aside-config, menu-indention), get($aside-config, padding-x));
    }

    // Item
    .menu-item {
        padding: 0;

        // Menu Link
        .menu-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            /* border-radius: 0.5rem; */
        }

        &.active, &:hover {
            .menu-icon {
              margin-left: 0.4rem;
            }
          }
          .menu-title {
              font-size: 16px;
          }

        // Icon
        .menu-icon {
            justify-content: flex-start;
            transition: all ease 0.3s;
        }

        
    }
}

// Aside dark theme
.aside-dark {
    .hover-scroll-overlay-y {
        --scrollbar-space: 0.4rem;
        
        @include scrollbar-color(get($aside-config, scrollbar-color), get($aside-config, scrollbar-hover-color));
    }

    .menu {
        .menu-item {
            .menu-section {
                color: #FFFFFF !important;
            }

            //$title-color, $icon-color, $bullet-color, $arrow-color, $bg-color
            @include menu-link-default-state( #3f4254, #494b74, blue, #9899ac, null);
            @include menu-link-hover-state( $primary, $primary, $primary, #adb5bd, null);
            @include menu-link-here-state( #3f4254, $primary, $primary, #adb5bd, #3bb77e33);
            @include menu-link-show-state( #3f4254, $primary, $primary, #adb5bd, #3bb77e33);
            @include menu-link-active-state( #3BB77E, $primary, $primary, #adb5bd, null); 
            /* @include menu-link-default-state(#fff, #fff, #fff, #fff, null);
            @include menu-link-hover-state($white, $primary, $primary, $white, #1b1b28);
            @include menu-link-show-state($white, $primary, $primary, $white, #1b1b28); 
            @include menu-link-active-state($primary, $primary, $primary, $primary, #fff);*/
        }
    }
}

// Aside light theme
.aside-light {
    .menu {
        .menu-title {
            font-weight: 500;
        }
    }
}